name: Log @kubeservice organization statistics

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

jobs:
  Stats:
    runs-on: ubuntu-latest
    steps:
      - uses: gr2m/org-stats-action@v1.0.3
        id: stats
        with:
          org: kubeservice-stack
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          cat << EOF
          result: ${{ steps.stats.outputs.data }}
          EOF
      - name: Modify README.md
        uses: jaywcjlove/github-action-modify-file-content@v1.4.4
        with:
          path: .github/profile/README.md
          token: ${{ secrets.GITHUB_TOKEN }}
          body: |
            "open issues": ${{ fromJson(steps.stats.outputs.data).openIssues }}
            "closed issues": ${{ fromJson(steps.stats.outputs.data).closedIssues }}
            "open pull requests": ${{ fromJson(steps.stats.outputs.data).openPullRequests }}
            "closed pull requests": ${{ fromJson(steps.stats.outputs.data).closedPullRequests }}
            "merged pull requests": ${{ fromJson(steps.stats.outputs.data).mergedPullRequests }}
          

